* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
    font-family: 'Roboto', -apple-system, system-ui, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.todo {
    display: flex;
    position: absolute;
    left: 50%;
    top: 50%;
    width: calc(100vw - 30px);
    height: calc(100vh - 100px);
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 20px #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f1f1f1;
    font-size: 14px;
}

.todo__sidebar {
    background-color: #f4f6f8;
    width: 200px;
    height: calc(100% - 120px);
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
}
.todo__tasks {
    flex: 1;
    padding: 60px;
    overflow: auto;
}

.field {
    width: 100%;
    background: #FFFFFF;
    border: 1px solid #EFEFEF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
}

.field:focus {
    border-color: #e2dfdf;
}

.button {
    background: #4DD599;
    border-radius: 4px;
    color: #FFFFFF;
    border: 0;
    padding: 10px 20px;
    cursor: pointer;
}
.button:hover {
    
    background: #45bd89;
}

.button:active {
    background: #3aa074;
}
.button:disabled {
    background: #8e9290;
}

.button--gray{
    color : #9C9C9C;
    background-color: #F4F6F8;
}
.button--gray:hover{
    background: #d3d3d4;
}
.button--gray:active{
    background: #b5b5b6de;
}